{% extends "index.html" %}
{% load socialaccount %}
{% load static %}
{% load i18n %}



{% block content %}

<br>
<!--register form -->
<div class="reg-overlay"></div>
<div class="main-register-holder">
    <div class="main-register fl-wrap">
        <ul class="tabs-menu">
            <li class="current"><a href="#tab-1"><i class="fal fa-sign-in-alt"></i> Se connecter</a></li>
            <!-- <li><a href="#tab-2"><i class="fal fa-user-plus"></i> Register</a></li> -->
        </ul>
        <!--tabs -->
        <div id="tabs-container">
            <div class="tab">
                <!--tab -->
                <div id="tab-1" class="tab-content">
                    <h3>Se connecter <span>Mia<strong>Woezon</strong></span></h3>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-warning d-flex align-items-center" role="alert">
                        <div style="margin-left: 2%;">
                            {{message}}
                        </div>
                    </div>

                    {% endfor %}
                    {% endif %}
                    <div class="custom-form">
                        <form method="post" name="registerform" action="{% url 'authentication:login' %}">
                            {% csrf_token %}
                            {% for field in form %}
                            <label>{{field.label}} <span>*</span> </label>
                            {{field}}
                            {{field.errors}}
                            {% endfor %}
                            {% if request.GET.next %}
                            <input type="hidden" name="next" value="{{ request.GET.next }}">
                            {% endif %}
                            <button type="submit" class="log-submit-btn color-bg"><span>Se connecter</span></button>
                            <div class="clearfix"></div>
                            <div class="filter-tags">
                                <input id="check-a" type="checkbox" name="check">
                                <label for="check-a">Souviens-toi de moi</label>
                            </div>
                        </form>
                        <div class="lost_password">
                            <a href="{% url 'authentication:password_reset' %}">Mot de passe perdu?</a>
                        </div>
                    </div>
                </div>
                <!--tab end -->

            </div>
            <!--tabs end -->
            <div class="log-separator fl-wrap"><span>ou</span></div>
            <p>Vous n'avez pas de compte? <a href="{% url 'authentication:signup' %}">Cliquez ici</a> </p>
            <div class="soc-log fl-wrap">
                <a href="{% provider_login_url 'google' %}?next=/" class="google-log"><i
                        class="fab fa-google"></i>Connecter avec Google</a>
                <!-- <a href="#" class="facebook-log"><i class="fab fa-facebook-f"></i>Connecter avec Facebook</a> -->
            </div>
        </div>
    </div>
</div>
<!--register form end -->

{% endblock %}