asgiref==3.7.2
beautifulsoup4==4.12.0
CAL==3.8
calc==1.0
certifi==2022.6.15
charset-normalizer==2.1.1
crispy-bootstrap4==2022.1
dj-database-url==1.0.0
Django==4.1
django-betterforms==2.0.0
django-bootstrap4==22.3
django-cal==0.4.2
django-chart-js==0.0.3
django-chartjs==2.3.0
django-countries==7.5.1
django-crispy-forms==2.0
django-filter==23.3
django-formtools==2.4.1
django-froala-editor==4.0.13
django-jazzmin==2.5.0
django-pandas==0.6.6
django-ranged-response==0.2.0
django-recaptcha==3.0.0
django-requests==0.0.2
django-rest-framework==0.1.0
django-seed==0.3.1
django-session-timeout==0.1.0
django-simple-captcha==0.5.17
django-storages==1.14
djangorestframework==3.13.1
Faker==20.1.0
idna==3.3
numpy==1.23.2
pandas==1.4.3
Pillow==9.2.0
psycopg2==2.9.5
pypng==0.20220715.0
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.2.1
qrcode==7.4.2
requests==2.28.1
sentry-sdk==1.39.0
six==1.16.0
soupsieve==2.4
sqlparse==0.4.2
TFL==3.8
TFL-STP==3.0
tk==0.1.0
toposort==1.10
typing_extensions==4.5.0
urllib3==1.26.11
vobject==0.9.6.1
