
{% extends "index.html" %}
{% load static %}
{% load humanize %}
{% block content %}
            <!--  wrapper  -->
            <div id="wrapper">
                <!-- content-->
                <div class="content">
                    
                    <div class="breadcrumbs-fs fl-wrap">
                        <div class="container">
                            <div class="breadcrumbs fl-wrap"><a href="#">Accueil</a><a href="#">Listing </a><span>Fullwidth Map</span></div>
                        </div>
                    </div>
                    <!--section -->
                    <section class="grey-blue-bg small-padding">
                        <div class="container">
                            <div class="row">
                                <!--listing -->
                                <div class="col-md-12">
                                                   
                                    <!--col-list-wrap -->
                                    <div class="col-list-wrap fw-col-list-wrap">
                                        <!-- list-main-wrap-->
                                        <div class="list-main-wrap fl-wrap card-listing">
                                            <!-- list-main-wrap-opt-->
                                            <div class="list-main-wrap-opt fl-wrap">
                                                
                                                <!-- price-opt-->
                                                <div class="grid-opt">
                                                    <ul>
                                                        <li><span class="two-col-grid act-grid-opt"><i class="fas fa-th-large"></i></span></li>
                                                        <li><span class="one-col-grid"><i class="fas fa-bars"></i></span></li>
                                                    </ul>
                                                </div>
                                                <!-- price-opt end-->                               
                                            </div>
                                            <!-- list-main-wrap-opt end-->
                                            <!-- listing-item-container -->
                                            <div class="listing-item-container init-grid-items fl-wrap three-columns-grid">
                                                <!-- listing-item  -->
                                                {% for room in rooms %}
                                    <div class="listing-item">
                                        <article class="geodir-category-listing fl-wrap">
                                            <div class="geodir-category-img">
                                                <a href="{% url 'rooms:detail' room.id %}"><img
                                                        src="{{room.first_photo}}" alt=""></a>
                                                
                                                <!-- <div class="sale-window">Sale 20%</div> -->
                                                <div class="geodir-category-opt">
                                                    <div class="listing-rating card-popup-rainingvis"
                                                        data-starrating2="5"></div>
                                                    <div class="rate-class-name">
                                                        <div class="score"><strong>Very Good</strong>27 Reviews </div>
                                                        <span>5.0</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="geodir-category-content fl-wrap">
                                                <div class="geodir-category-content-title fl-wrap">
                                                    <div class="geodir-category-content-title-item">
                                                        <h3 class="title-sin_map"><a
                                                                href="{% url 'rooms:detail' room.id %}">{{room.name}}</a>
                                                        </h3>
                                                        <div class="geodir-category-location fl-wrap"><a href="#0"
                                                                class="map-item"><i
                                                                    class="fas fa-map-marker-alt"></i>{{room.city}}, {{room.country.name}} <br> {{room.address}}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p>{{room.description|truncatewords:10}}.</p>
                                                <ul class="facilities-list fl-wrap">
                                                    <li><i class="fal fa-wifi"></i><span>Free WiFi</span></li>
                                                    <li><i class="fal fa-parking"></i><span>Parking</span></li>
                                                    <li><i class="fal fa-smoking-ban"></i><span>Non-smoking Rooms</span>
                                                    </li>
                                                    <li><i class="fal fa-utensils"></i><span> Restaurant</span></li>
                                                </ul>
                                                <ul class="facilities-list fl-wrap">
                                                    <div class="geodir-category-price" style="font-size: 65%;">Prix/nuit<span> <br>  {{room.prix_par_nuit|intcomma}} F</span></div>
                                                    <div class="geodir-category-price" style="font-size: 65%;">Prix/semaine<span> <br>  {{room.prix_par_semaine|intcomma}} F</span></div>
                                                    <div class="geodir-category-price" style="font-size: 65%;">Prix/mois<span> <br>  {{room.prix_par_mois|intcomma}} F</span></div>
                                                </ul>
                                            </div>
                                        </article>
                                    </div>
                                    {% endfor %}
                                                                                              
                                                                                                         
                                                                     
                                            </div>
                                            <!-- listing-item-container end-->
                                            <!-- pagination-->
                                            <div class="pagination">
                                                <a href="#" class="prevposts-link"><i class="fa fa-caret-left"></i></a>
                                                <a href="#" >1</a>
                                                <a href="#" class="current-page">2</a>
                                                <a href="#">3</a>
                                                <a href="#">4</a>
                                                <a href="#" class="nextposts-link"><i class="fa fa-caret-right"></i></a>
                                            </div>
                                            <!-- pagination end-->
                                        </div>
                                        <!-- list-main-wrap end-->
                                    </div>
                                    <!--col-list-wrap end -->
                                </div>
                                <!--listing  end-->
                            </div>
                            <!--row end-->
                        </div>
                    </section>
                </div>
                <!-- content end-->
            </div>
            <!--wrapper end -->
 {% endblock %}