
{% extends "index.html" %}
{% load static %}
{% load humanize %}
{% block content %}
            <!--  wrapper  -->
            <div id="wrapper">
                <!-- content-->
                <div class="content">
                    <!--  carousel--> 
                    <div class="list-single-carousel-wrap fl-wrap" id="sec1">
                        <div class="fw-carousel fl-wrap full-height lightgallery">
                            <!-- slick-slide-item -->
                            <div class="slick-slide-item">
                                <div class="box-item">
                                    <img  src="{{room.first_photo}}"   alt="">
                                    <a href="{{room.first_photo}}" class="gal-link popup-image"><i class="fa fa-search"  ></i></a>
                                </div>
                            </div>
                            <!-- slick-slide-item end -->
                            {% for photo in room.get_next_four_photos %}
                            <!-- slick-slide-item -->
                            <div class="slick-slide-item">
                                <div class="box-item">
                                    <img  src="{{photo.file.url}}"   alt="">
                                    <a href="{{photo.file.url}}" class="gal-link popup-image"><i class="fa fa-search"  ></i></a>
                                </div>
                            </div>
                            <!-- slick-slide-item end -->
                            {% endfor %}
                        </div>
                        <div class="swiper-button-prev sw-btn"><i class="fa fa-long-arrow-left"></i></div>
                        <div class="swiper-button-next sw-btn"><i class="fa fa-long-arrow-right"></i></div>
                    </div>
                    <!--  carousel  end--> 
                    <!--  section  -->
                    <section class="grey-blue-bg small-padding scroll-nav-container" id="sec2">
                        <!--  scroll-nav-wrapper  -->
                        <div class="scroll-nav-wrapper fl-wrap">
                            <div class="hidden-map-container fl-wrap">
                                <input id="pac-input" class="controls fl-wrap controls-mapwn" type="text" placeholder="What Nearby ?   Bar , Gym , Restaurant ">
                                <div class="map-container">
                                    <div id="singleMap" data-latitude="40.7427837" data-longitude="-73.11445617675781"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="container">
                                <nav class="scroll-nav scroll-init">
                                    <ul>
                                        <li><a class="act-scrlink" href="#sec1">Haut</a></li>
                                        <li><a href="#sec2">Détails</a></li>
                                        <li><a href="#sec3">Agréments</a></li>
                                        <li><a href="#sec4">Pièces</a></li>
                                        <li><a href="#sec5">Commentaires</a></li>
                                    </ul>
                                </nav>
                                <a href="#" class="show-hidden-map">  <span>Reserver</span> <i class="fal fa-paper-plane"></i></a>
                            </div>
                        </div>
                        <!--  scroll-nav-wrapper end  -->                    
                        <!--   container  -->
                        <div class="container">
                            <!--   row  -->
                            <div class="row ">
                                <!--   datails -->
                                <div class="col-md-8">
                                    <div class="list-single-main-container ">
                                       
                                        <!--   list-single-main-item -->
                                        <div class="list-single-main-item fl-wrap list-single-hero-header " id="sec2">
                                            <div class="row">
                                                <div class="col-sm-7">
                                                    <div class="list-single-main-item-title fl-wrap">
                                                        <h3>{{room.nom}}</h3>
                                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="0">{{room.room_type}}</div>
                                                        <div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i>{{room.adresse}}</a></div>
                                                    </div>
                                                    <h3><b>NB:</b> Pour des reservations de plus d'une semaine, Caution = {{room.caution|intcomma}}</h3>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="list-single-hero-price fl-wrap">Nuité<span>{{room.prix_par_nuit|intcomma}} XOF</span></div>
                                                    <div class="list-single-hero-price fl-wrap">Semaine<span>{{room.prix_par_semaine|intcomma}} XOF</span></div>
                                                    <div class="list-single-hero-price fl-wrap">Mensuel<span>{{room.prix_par_mois|intcomma}} XOF</span></div>
                                                </div>
                                            </div>
                                            <span class="fw-separator"></span>
                                                                                          	
                                        </div>
                                        <!--   list-single-main-item end -->
                                        <!-- list-single-header end -->
                                        <div class="list-single-facts fl-wrap">
                                            <!-- inline-facts -->
                                            <div class="inline-facts-wrap">
                                                <div class="inline-facts">
                                                    <i class="fal fa-bed"></i>
                                                    <div class="milestone-counter">
                                                        <div class="stats animaper">
                                                            {{room.nombre_de_lits}}
                                                        </div>
                                                    </div>
                                                    <h6>Lits</h6>
                                                </div>
                                            </div>
                                            <!-- inline-facts end -->
                                            <!-- inline-facts  -->
                                            <div class="inline-facts-wrap">
                                                <div class="inline-facts">
                                                    <i class="fal fa-home"></i>
                                                    <div class="milestone-counter">
                                                        <div class="stats animaper">
                                                            {{room.nombre_de_chambres}}
                                                        </div>
                                                    </div>
                                                    <h6>Chambres</h6>
                                                </div>
                                            </div>
                                            <!-- inline-facts end -->
                                            <!-- inline-facts -->
                                            <div class="inline-facts-wrap">
                                                <div class="inline-facts">
                                                    <i class="fal fa-bath"></i>
                                                    <div class="milestone-counter">
                                                        <div class="stats animaper">
                                                            {{room.nombre_de_douche}}
                                                        </div>
                                                    </div>
                                                    <h6>Beignoire</h6>
                                                </div>
                                            </div>
                                            <!-- inline-facts end -->
                                            <!-- inline-facts -->
                                            <div class="inline-facts-wrap">
                                                <div class="inline-facts">
                                                    <i class="fal fa-users"></i>
                                                    <div class="milestone-counter">
                                                        <div class="stats animaper">
                                                            {{room.guests}}
                                                        </div>
                                                    </div>
                                                    <h6>Personnes</h6>
                                                </div>
                                            </div>
                                            <!-- inline-facts end -->                                                                        
                                        </div>
                                        <!--   list-single-main-item -->
                                        <div class="list-single-main-item fl-wrap">
                                            <div class="list-single-main-item-title fl-wrap">
                                                <h3>Description </h3>
                                            </div>
                                            <p>{{room.description}}</p>
                                            <a href="{% if room.video %} {{room.video.url}} {% endif %}" class="btn flat-btn color-bg big-btn float-btn image-popup">Video Presentation <i class="fal fa-play"></i></a>
                                        </div>
                                        <!--   list-single-main-item end -->
                                          
                                        <!-- accordion-->
                                        <div class="accordion mar-top">
                                            <a class="toggle" href="#"> Agréments  <span></span></a>
                                            <div class="accordion-inner">
                                                {% for a in room.agrement.all %}
                                                <p>{{a}}</p>
                                                {% endfor %}
                                            </div>
                                            <a class="toggle act-accordion" href="#"> Installations   <span></span></a>
                                            <div class="accordion-inner visible">
                                                {% for f in room.facilités.all %}
                                                <p>{{f}}</p>
                                                {% endfor %}
                                            </div>
                                            <a class="toggle" href="#"> règles de la maison  <span></span></a>
                                            <div class="accordion-inner">
                                                {% for rules in room.reglements.all %}
                                                <p>{{rules}}</p>
                                                {% endfor %}
                                            </div>
                                            
                                        </div>
                                        <!-- accordion end -->                                                     
                                        <!--   list-single-main-item -->
                                       
                                        <!-- list-single-main-item end -->
                                        <!-- list-single-main-item -->   
                                        <div class="list-single-main-item fl-wrap" id="sec5">
                                            <div class="list-single-main-item-title fl-wrap">
                                                <h3>Avis<span> </span></h3>
                                            </div>
                                            <div class="reviews-comments-wrap">
                                                <!-- reviews-comments-item -->  
                                                <div class="reviews-comments-item">
                                                    
                                                    <div class="reviews-comments-item-text">
                                                        <h4><a href="#">Liza Rose</a></h4>
                                                        <div class="review-score-user">
                                                            <span>4.4</span>
                                                            <strong>Good</strong>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <p>" Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. "</p>
                                                        <div class="reviews-comments-item-date"><span><i class="far fa-calendar-check"></i>12 April 2018</span><a href="#"><i class="fal fa-reply"></i> Reply</a></div>
                                                    </div>
                                                </div>
                                                <!--reviews-comments-item end--> 
                                                                                                                 
                                            </div>
                                        </div>
                                        <!-- list-single-main-item end -->   
                                        <!-- list-single-main-item -->   
                                        <div class="list-single-main-item fl-wrap" id="sec6">
                                            <div class="list-single-main-item-title fl-wrap">
                                                <h3>Ajouter un commentaire</h3>
                                            </div>
                                            <!-- Add Review Box -->
                                            <div id="add-review" class="add-review-box">
                                                <!-- Review Comment -->
                                                <form id="add-comment" class="add-comment  custom-form" name="rangeCalc" >
                                                    <fieldset>
                                                        <div class="review-score-form fl-wrap">
                                                            
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label><i class="fal fa-user"></i></label>
                                                                <input type="text" placeholder="Your Name *" value=""/>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label><i class="fal fa-envelope"></i>  </label>
                                                                <input type="text" placeholder="Email Address*" value=""/>
                                                            </div>
                                                        </div>
                                                        <textarea cols="40" rows="3" placeholder="Your Review:"></textarea>
                                                    </fieldset>
                                                    <button class="btn  big-btn flat-btn float-btn color2-bg" style="margin-top:30px">Poster le commentaire <i class="fal fa-paper-plane"></i></button>
                                                </form>
                                            </div>
                                            <!-- Add Review Box / End -->
                                        </div>
                                        <!-- list-single-main-item end -->                                    
                                    </div>
                                </div>
                                <!--   datails end  -->
                                <!--   sidebar  -->
                                <div class="col-md-4">
                                    <!--box-widget-wrap -->  
                                    <div class="box-widget-wrap">
                                        <!--box-widget-item -->
                                        <div class="box-widget-item fl-wrap">
                                            <div class="box-widget">
                                                <div class="box-widget-content">
                                                    <div class="box-widget-item-header">
                                                        <h3> Réservez</h3>
                                                    </div>
                                                    <form name="bookFormCalc" class="book-form custom-form" action="" method="post">
                                                        {% csrf_token %}
                                                        <fieldset>
                                                            
                                                            <div class="cal-item">
                                                                <div class="bookdate-container  fl-wrap">
                                                                    <label><i class="fal fa-calendar-check"></i> Date </label>
                                                                    <input type="text"    placeholder="Date In-Out" name="bookdates"   value=""/>
                                                                    <div class="bookdate-container-dayscounter"><i class="far fa-question-circle"></i><span>Jours : <strong>0</strong></span></div>
                                                                </div>
                                                            </div>
                                                            
                                                            
                                                        </fieldset>
                                                        <input type="text" name="item_total" class="hid-input" value="{{room.price}}" data-form="{{room.price}}">
                                                        <input type="number"  id="totaldays" name="qty5" class="hid-input">
                                                        <!-- <div class="total-coast fl-wrap"><strong>Coût total</strong> <span>F <input type="text" name="grand_total" value="" data-form="SUM({item_total}) * {qty5}"></span></div> -->
                                                        <a href="{% url 'rooms:book_room' room.pk %}">
                                                            <button type="button" class="btnaplly color2-bg" >Reservez maintenant<i class="fal fa-paper-plane"></i></button>
                                                        </a>
                                                        
                                                        
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <!--box-widget-item end -->                                       
                                                     
                                        <!--box-widget-item -->
                                        <div class="box-widget-item fl-wrap">
                                            <div class="box-widget">
                                                <div class="box-widget-content">
                                                    <div class="box-widget-item-header">
                                                        <h3>Publié par</h3>
                                                    </div>
                                                    <div class="box-widget-author fl-wrap">
                                                        <div class="box-widget-author-title fl-wrap">
                                                            <div class="box-widget-author-title-img">
                                                                <img src="{% if room.host.avatar %} {{room.host.avatar.url}} {% else %} {% static 'images/avatar/1.jpg' %} {% endif %}" alt=""> 
                                                            </div>
                                                            <a href="user-single.html">SANK-LUXURY</a>
                                                            <!-- <span>4 lieux hébergés</span> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--box-widget-item end -->  
                                        {% if  is_connected and room.isReservedByUser == false %}
                                        <!--box-widget-item -->
                                        <div class="box-widget-item fl-wrap">
                                            <div class="box-widget">
                                                <div class="box-widget-content">
                                                    <div class="box-widget-item-header">
                                                        <h3> Coordonnées</h3>
                                                    </div>
                                                    <div class="box-widget-list">
                                                        <ul>
                                                            <li><span><i class="fal fa-map-marker"></i> Adresse :</span> <a href="#">{{room.host.address}}</a></li>
                                                            <li><span><i class="fal fa-phone"></i> Téléphone :</span> <a href="#">{{room.host.contact}}</a></li>
                                                            <li><span><i class="fal fa-envelope"></i> mail :</span> <a href="#">{{room.host.user.email}}</a></li>
                                                            <li><span><i class="fal fa-browser"></i> Pays :</span> <a href="#">{{room.host.country}}</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="list-widget-social">
                                                        <ul>
                                                            <li><a href="#" target="_blank" ><i class="fab fa-facebook-f"></i></a></li>
                                                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                            <li><a href="#" target="_blank" ><i class="fab fa-vk"></i></a></li>
                                                            <li><a href="#" target="_blank" ><i class="fab fa-instagram"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--box-widget-item end -->  
                                        {% endif %}                        
                                                                 
                                        <!--box-widget-item -->
                                        <div class="box-widget-item fl-wrap">
											<div id="weather-widget" class="gradient-bg ideaboxWeather" data-city="{{room.city}}"></div>
                                        </div>
                                        <!--box-widget-item end -->   
                                        <!--box-widget-item end -->   
                                        
                                                                    
                                        <!--box-widget-item -->
                                        <!-- <div class="box-widget-item fl-wrap">
                                            <div class="box-widget">
                                                <div class="box-widget-content">
                                                    <div class="box-widget-item-header">
                                                        <h3>Listes similaires</h3>
                                                    </div>
                                                    <div class="widget-posts fl-wrap">
                                                        <ul>
                                                            <li class="clearfix">
                                                                <a href="#"  class="widget-posts-img"><img src="{% static 'images/city/lome.jpeg' %}" class="respimg" alt=""></a>
                                                                <div class="widget-posts-descr">
                                                                    <a href="#" title="">Park Central</a>
                                                                    <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                                                                    <div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i> 40 JOURNAL SQUARE PLAZA, NJ, US</a></div>
                                                                    <span class="rooms-price">$80 <strong> /  Awg</strong></span>
                                                                </div>
                                                            </li>
                                                            <li class="clearfix">
                                                                <a href="#"  class="widget-posts-img"><img src="{% static 'images/city/lome.jpeg' %}" class="respimg" alt=""></a>
                                                                <div class="widget-posts-descr">
                                                                    <a href="#" title="">Holiday Accueil</a>
                                                                    <div class="listing-rating card-popup-rainingvis" data-starrating2="3"></div>
                                                                    <div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i> 75 PRINCE ST, NY, USA</a></div>
                                                                    <span class="rooms-price">$50 <strong> /   Awg</strong></span>
                                                                </div>
                                                            </li>
                                                            <li class="clearfix">
                                                                <a href="#"  class="widget-posts-img"><img src="{% static 'images/city/lome.jpeg' %}" class="respimg" alt=""></a>
                                                                <div class="widget-posts-descr">
                                                                    <a href="#" title="">Moonlight Hotel</a>
                                                                    <div class="listing-rating card-popup-rainingvis" data-starrating2="4"></div>
                                                                    <div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i>  70 BRIGHT ST NEW YORK, USA</a></div>
                                                                    <span class="rooms-price">$105 <strong> /  Awg</strong></span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <a class="widget-posts-link" href="#">See All Listing <i class="fal fa-long-arrow-right"></i> </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <!--box-widget-item end -->                              
                                    </div>
                                    <!--box-widget-wrap end -->  
                                </div>
                                <!--   sidebar end  -->
                            </div>
                            <!--   row end  -->
                        </div>
                        <!--   container  end  -->
                    </section>
                    <!--  section  end-->
                </div>
                <!-- content end-->
                <div class="limit-box fl-wrap"></div>
            </div>
            <!--wrapper end -->


<script>
    function submitForm() {
        document.forms["bookFormCalc"].submit();
    }
</script>
            
{% endblock %}