{% load static %}
<section class="flat-header color-bg adm-header">
    <div class="wave-bg wave-bg2"></div>
    <div class="container">
        <div class="dasboard-wrap fl-wrap">
            <div class="dasboard-breadcrumbs breadcrumbs"><a href="#">Accueil</a><a
                    href="#">Dashboard</a><span>Profile page</span></div>
            <!--dasboard-sidebar-->
            <div class="dasboard-sidebar">
                <div class="dasboard-sidebar-content fl-wrap">
                    <div class="dasboard-avatar">
                        <img src="{% if client.avatar %}{{ request.user.client.avatar.url }}{% else %}{% static 'images/avatar/1.jpg' %}{% endif %}" alt="">
                    </div>
                    <div class="dasboard-sidebar-item fl-wrap">
                        <h3>
                            <span>sank </span>
                            {{ request.user.client }}
                        </h3>
                    </div>
                    <a href="{% url 'rooms:create'%}" class="ed-btn">Publier</a>
                    <div class="user-stats fl-wrap">
                        <ul>
                            <li>
                                Publications
                                <span>{{total_rooms}}</span>
                            </li>
                            <li>
                                Reservations
                                <span>{{total_reservations}}</span>
                            </li>
                            <li>
                                Revues
                                <span>0</span>
                            </li>
                        </ul>
                    </div>
                    <a href="" class="log-out-btn color-bg">Deconnexion <i class="far fa-sign-out"></i></a>
                </div>
            </div>
            <!--dasboard-sidebar end-->
            <!-- dasboard-menu-->
            <div class="dasboard-menu">
                <div class="dasboard-menu-btn color3-bg">Dashboard Menu <i class="fal fa-bars"></i></div>
                <ul class="dasboard-menu-wrap">
                    <li>
                        <a href="" ><i class="far fa-user"></i>Profil</a>
                        <ul>
                            
                            <li><a href="" >Editer profil</a></li>
                            <li><a href="">Mot de passe</a></li>
                        </ul>
                    </li>
                    <li><a href="" {% if request.resolver_match.url_name == 'conversations' %} class="user-profile-act" {% endif %}><i class="far fa-envelope"></i> Messages
                            <span>3</span></a></li>
                    <li>
                        <a href="{% url 'rooms:host-list'%}" {% if request.resolver_match.url_name == 'host-list' %} class="user-profile-act" {% endif %} ><i
                                class="far fa-th-list"></i> Mes Publications </a>
                        <!-- <ul>
                            <li><a href="#">Active</a><span>5</span></li>
                            <li><a href="#">Pending</a><span>2</span></li>
                            <li><a href="#">Expire</a><span>3</span></li>
                        </ul> -->
                    </li>
                    <li><a href="{% url 'reservations:bookings'%}" {% if request.resolver_match.url_name == 'bookings' %} class="user-profile-act" {% endif %}> <i class="far fa-calendar-check"></i> Reservations
                            </a></li>
                    <li><a href="{% url 'reservations:my_bookings'%}" {% if request.resolver_match.url_name == 'my_bookings' %} class="user-profile-act" {% endif %}> <i class="far fa-calendar-check"></i>Mes Reservations
                            </a></li>
                </ul>
            </div>
            <!--dasboard-menu end-->
            <!--Tariff Plan menu-->
            <!-- <div class="tfp-btn"><span>Tariff Plan : </span> <strong>Extended</strong></div>
            <div class="tfp-det">
                <p>You Are on <a href="#">Extended</a> . Use link bellow to view details or upgrade. </p>
                <a href="#" class="tfp-det-btn color2-bg">Details</a>
            </div> -->
            <!--Tariff Plan menu end-->
        </div>
    </div>
</section>