{% extends "index.html" %}
{% load static %}
{% block content %}

            <!--  wrapper  -->
            <div id="wrapper">
                <!-- content-->
                <div class="content">
                    <!--  section  -->
                    <section class="parallax-section single-par" data-scrollax-parent="true">
                        <div class="bg par-elem "  data-bg="images/bg/1.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="section-title center-align big-title">
                                <div class="section-title-separator"><span></span></div>
                                <h2><span>Politique de Confidentialité</span></h2>
                                <span class="section-separator"></span>
                                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit amet fermentum sem.</h4>
                            </div>
                        </div>
                        <div class="header-sec-link">
                            <div class="container"><a href="#sec1" class="custom-scroll-link color-bg"><i class="fal fa-angle-double-down"></i></a></div>
                        </div>
                    </section>
                    <!--  section  end-->
                    <div class="breadcrumbs-fs fl-wrap">
                        <div class="container">
                            <div class="breadcrumbs fl-wrap"><a href="#">Accueil</a><a href="#">Listing</a><span>Help Center</span></div>
                        </div>
                    </div>
                    <!--  section  -->
                    <section class="grey-blue-bg middle-padding" id="sec1">
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-md-12">
                                    <!--   list-single-main-item -->
                                    <div class="list-single-main-item fl-wrap" id="faq1">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>Politique de Confidentialité</h3>
                                        </div>
                                        <p>Cette Politique de Confidentialité décrit comment GAK-SERVICES recueille, utilise et partage vos informations personnelles lorsque vous utilisez notre application sank. 
                                            Votre confidentialité est importante pour nous, et nous nous engageons à protéger vos informations personnelles conformément à cette politique.
                                        </p>
                                    </div>
                                    <!--   list-single-main-item end -->
                                                                    
                                </div>

                                <div class="col-md-12">
                                    <!--   list-single-main-item -->
                                    <div class="list-single-main-item fl-wrap" id="faq1">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>Informations que nous recueillons</h3>
                                        </div>
                                        <p>Lorsque vous utilisez notre application, nous recueillons les types d'informations suivants :</p>
                                        <br>
                                        <p><b>1. Informations fournies par vous :</b></p>
                                        <p>Cela peut inclure votre nom, adresse e-mail, numéro de téléphone, photo de profil 
                                            et autres informations que vous choisissez de fournir lors de la création de votre compte ou pendant l'utilisation de notre service.
                                        </p>
                                        <br>
                                        <p><b>2. Informations sur votre utilisation de l'application :</b></p>
                                        <p>Nous recueillons des informations sur la manière dont vous interagissez avec notre application,
                                             telles que les recherches que vous effectuez, les annonces que vous consultez, les réservations que vous effectuez et d'autres actions que vous entreprenez dans l'application.
                                        </p>
                                        <br>
                                        <p><b>3. Informations de géolocalisation :</b></p>
                                        <p>Avec votre consentement, nous pouvons collecter des informations sur votre emplacement approximatif à partir de votre appareil mobile lorsque vous utilisez notre application pour vous fournir 
                                            des fonctionnalités basées sur la localisation, telles que la recherche de logements dans une région spécifique.
                                        </p>
                                        <br>
                                        <p><b>4. Informations sur l'appareil :</b></p>
                                        <p>Nous pouvons recueillir des informations sur votre appareil mobile, telles que le modèle, le système d'exploitation, les identifiants uniques de 
                                            l'appareil et d'autres informations techniques pour assurer le bon fonctionnement de notre application.
                                        </p>
                                    </div>
                                    <div class="list-single-main-item fl-wrap" id="faq1">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>Comment nous utilisons vos informations</h3>
                                        </div>
                                        <p>Nous utilisons les informations que nous recueillons pour :</p>
                                        <div>
                                            <ul class="box-widget-list">
                                                <li>• Fournir et améliorer notre service, y compris la personnalisation de votre expérience utilisateur.</li>
                                                <li>• Vous permettre d'accéder et d'utiliser les fonctionnalités de notre application.</li>
                                                <li>• Traiter vos réservations, paiements et autres transactions liées à l'utilisation de notre service.</li>
                                                <li>• Vous envoyer des notifications, des mises à jour et des communications liées à notre service.</li>
                                                <li>• Répondre à vos questions, demandes de support technique et autres demandes de votre part.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="list-single-main-item fl-wrap" id="faq1">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>Partage des informations</h3>
                                        </div>
                                        <p>Nous pouvons partager vos informations personnelles avec des tiers dans les circonstances suivantes :</p>
                                        <div>
                                            <ul class="box-widget-list">
                                                <li>• Avec des hôtes ou des voyageurs pour faciliter les réservations et les échanges entre les utilisateurs de notre service.</li>
                                                <li>• Avec nos partenaires de confiance qui fournissent des services en notre nom, tels que le traitement des paiements, l'hébergement de données, la fourniture de services de support technique, etc.</li>
                                                <li>• Si nous croyons de bonne foi que cela est nécessaire pour se conformer à une obligation légale, protéger nos droits, votre sécurité ou celle des autres utilisateurs, enquêter sur une fraude ou répondre à une demande gouvernementale.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    <div class="list-single-main-item fl-wrap" id="faq1">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>Vos choix concernant vos informations</h3>
                                        </div>
                                        <p>Vous pouvez choisir de limiter la collecte ou l'utilisation de certaines informations personnelles en modifiant les paramètres de votre compte ou en nous contactant directement. Veuillez noter que cela peut affecter votre capacité à utiliser certaines fonctionnalités de notre application.</p>
                                    </div>

                                    <div class="list-single-main-item fl-wrap" id="faq1">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>Sécurité des données</h3>
                                        </div>
                                        <p>Nous prenons des mesures raisonnables pour protéger vos informations personnelles contre la perte, l'utilisation abusive, l'accès non autorisé, la divulgation, l'altération ou la destruction. Cependant, veuillez noter qu'aucune méthode de transmission sur Internet ou de stockage 
                                            électronique n'est totalement sécurisée et que nous ne pouvons garantir la sécurité absolue de vos informations.</p>
                                    </div>

                                    <div class="list-single-main-item fl-wrap" id="faq1">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>Modification de cette Politique de Confidentialité</h3>
                                        </div>
                                        <p>Nous nous réservons le droit de mettre à jour ou de modifier cette Politique de Confidentialité à tout moment. Nous vous informerons de toute modification importante en affichant la nouvelle politique 
                                            sur notre site Web ou en vous envoyant une notification via l'application. L'utilisation continue de notre service après de telles modifications constitue votre consentement à ces modifications.
                                            électronique n'est totalement sécurisée et que nous ne pouvons garantir la sécurité absolue de vos informations.</p>
                                    </div>

                                    <div class="list-single-main-item fl-wrap" id="faq1">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>Contactez-nous</h3>
                                        </div>
                                        <p>Si vous avez des questions ou des préoccupations concernant notre Politique de Confidentialité, veuillez nous contacter à <a href="residencesankluxury@gmail.com">residencesankluxury@gmail.com</a>.

                                            Dernière mise à jour : 16 Mars 2024</p>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="limit-box"></div>
                    </section>
                    <!--  section  end-->
                   
                </div>
                <!-- content end-->
            </div>
            <!--wrapper end -->
 {% endblock %}