{% extends "index.html" %}
{% load static %}
{% block content %}


            <!--  wrapper  -->
            <div id="wrapper">
                <!-- content-->
                <div class="content">
                    <!--  section  -->
                    <section class="parallax-section single-par" data-scrollax-parent="true">
                        <div class="bg par-elem "  data-bg="images/bg/1.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="section-title center-align big-title">
                                <div class="section-title-separator"><span></span></div>
                                <h2><span>Our Tariff Plans</span></h2>
                                <span class="section-separator"></span>
                                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit amet fermentum sem.</h4>
                            </div>
                        </div>
                        <div class="header-sec-link">
                            <div class="container"><a href="#sec1" class="custom-scroll-link color-bg"><i class="fal fa-angle-double-down"></i></a></div>
                        </div>
                    </section>
                    <!--  section  end-->
                    <div class="breadcrumbs-fs fl-wrap">
                        <div class="container">
                            <div class="breadcrumbs fl-wrap"><a href="#">Accueil</a><a href="#">Pages</a><span>Pricing Tables</span></div>
                        </div>
                    </div>
                    <!--  section  -->
                    <section  id="sec1" class="grey-b lue-bg middle-padding">
                        <div class="container">
                            <div class="pricing-switcher">
                                <div class="fieldset color-bg">
                                    <input type="radio" name="duration-1"  id="monthly-1" class="tariff-toggle" checked>
                                    <label for="monthly-1">Monthly Tariff</label>
                                    <input type="radio" name="duration-1" class="tariff-toggle"  id="yearly-1">
                                    <label for="yearly-1">Yearly Tariff</label>
                                    <span class="switch"></span>
                                </div>
                            </div>
                            <div class="pricing-wrap fl-wrap">
                                <!-- price-item-->
                                <div class="price-item">
                                    <div class="price-head  color-bg">
                                        <div class="price-head-decor cloud-1">
                                            <i class="fal fa-paper-plane"></i>
                                        </div>
                                        <h3>Basic</h3>
                                        <span class="year-sale">-5%</span>
                                    </div>
                                    <div class="price-content fl-wrap">
                                        <div class="price-num col-dec-1 fl-wrap">
                                            <div class="price-num-item"><span class="mouth-cont"><span class="curen">$</span>49</span><span class="year-cont"><span class="curen">$</span>530</span></div>
                                            <div class="clearfix"></div>
                                            <div class="price-num-desc"><span class="mouth-cont">Per  Month</span><span class="year-cont">Per Year</span></div>
                                        </div>
                                        <div class="price-desc fl-wrap">
                                            <ul>
                                                <li>One Listing</li>
                                                <li>90 Days Availability</li>
                                                <li>Non-Featured</li>
                                                <li>Limited Support</li>
                                            </ul>
                                            <a href="#" class="price-link color-bg">Choose Basic</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- price-item end-->
                                <!-- price-item-->
                                <div class="price-item best-price">
                                    <div class="price-head op2">
                                        <div class="price-head-decor cloud-2">
                                            <i class="fal fa-plane-alt"></i>
                                        </div>
                                        <h3>Extended</h3>
                                        <span class="year-sale">-10%</span>                                       
                                    </div>
                                    <div class="price-content fl-wrap">
                                        <div class="price-num col-dec-2 fl-wrap">
                                            <div class="price-num-item"><span class="mouth-cont"><span class="curen">$</span>99</span><span class="year-cont"><span class="curen">$</span>1010</span></div>
                                            <div class="clearfix"></div>
                                            <div class="price-num-desc"><span class="mouth-cont">Per  Month</span><span class="year-cont">Per Year</span></div>
                                        </div>
                                        <div class="price-desc fl-wrap">
                                            <ul>
                                                <li>Ten Listings</li>
                                                <li>Lifetime Availability</li>
                                                <li>Featured In Search Results</li>
                                                <li>24/7 Support</li>
                                            </ul>
                                            <a href="#" class="price-link color2-bg">Choose Extended</a>
                                            <div class="recomm-price">
                                                <i class="fal fa-check"></i> 
                                                <span class="clearfix"></span>
                                                Recommended
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- price-item end-->
                                <!-- price-item-->
                                <div class="price-item">
                                    <div class="price-head color-bg">
                                        <div class="price-head-decor stars-dec">
                                            <i class="fal fa-rocket"></i>
                                        </div>
                                        <h3>Professional</h3>
                                        <span class="year-sale">-15%</span>
                                    </div>
                                    <div class="price-content fl-wrap">
                                        <div class="price-num col-dec-1 fl-wrap">
                                            <div class="price-num-item"><span class="mouth-cont"><span class="curen">$</span>149</span><span class="year-cont"><span class="curen">$</span>1430</span></div>
                                            <div class="clearfix"></div>
                                            <div class="price-num-desc"><span class="mouth-cont">Per  Month</span><span class="year-cont">Per Year</span></div>
                                        </div>
                                        <div class="price-desc fl-wrap">
                                            <ul>
                                                <li>Unlimited Listings</li>
                                                <li>Lifetime Availability</li>
                                                <li>Featured In Search Results</li>
                                                <li>24/7 Support</li>
                                            </ul>
                                            <a href="#" class="price-link color-bg">Choose Professional</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- price-item end-->                                                    
                            </div>
                            <span class="fw-separator"></span>
                            <div class="clearfix"></div>
                            <!-- process-wrap-->
                            <div class="row">
                                <div class="col-md-4">
                                    <!-- process-item-->
                                    <div class="process-item big-pad-pr-item">
                                        <span class="process-count"> </span>
                                        <div class="time-line-icon"><i class="fal fa-headset"></i></div>
                                        <h4><a href="#"> Best service guarantee</a></h4>
                                        <p>Proin dapibus nisl ornare diam varius tempus. Aenean a quam luctus, finibus tellus ut, convallis eros sollicitudin turpis.</p>
                                    </div>
                                    <!-- process-item end -->
                                </div>
                                <div class="col-md-4">
                                    <!-- process-item-->
                                    <div class="process-item big-pad-pr-item">
                                        <span class="process-count"> </span>
                                        <div class="time-line-icon"><i class="fal fa-gift"></i></div>
                                        <h4> <a href="#">Exclusive gifts</a></h4>
                                        <p>Proin dapibus nisl ornare diam varius tempus. Aenean a quam luctus, finibus tellus ut, convallis eros sollicitudin turpis.</p>
                                    </div>
                                    <!-- process-item end -->                                
                                </div>
                                <div class="col-md-4">
                                    <!-- process-item-->
                                    <div class="process-item big-pad-pr-item nodecpre">
                                        <span class="process-count"> </span>
                                        <div class="time-line-icon"><i class="fal fa-credit-card"></i></div>
                                        <h4><a href="#"> Get more from your card</a></h4>
                                        <p>Proin dapibus nisl ornare diam varius tempus. Aenean a quam luctus, finibus tellus ut, convallis eros sollicitudin turpis.</p>
                                    </div>
                                    <!-- process-item end -->                                
                                </div>
                            </div>
                            <!--process-wrap   end-->
                        </div>
                        <div class="section-decor"></div>
                    </section>
                    <!-- section end -->
                </div>
                <!-- content end-->
            </div>
            <!--wrapper end -->
 
{% endblock %}