{% extends "index.html" %}
{% load static %}
{% block content %}

            <!--  wrapper  -->
            <div id="wrapper">
                <!-- content-->
                <div class="content">
                    <!--  section  -->
                    <section class="parallax-section single-par" data-scrollax-parent="true">
                        <div class="bg par-elem "  data-bg="images/bg/1.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="section-title center-align big-title">
                                <div class="section-title-separator"><span></span></div>
                                <h2><span>Conditions d'utilisation</span></h2>
                                <span class="section-separator"></span>
                                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit amet fermentum sem.</h4>
                            </div>
                        </div>
                        <div class="header-sec-link">
                            <div class="container"><a href="#sec1" class="custom-scroll-link color-bg"><i class="fal fa-angle-double-down"></i></a></div>
                        </div>
                    </section>
                    <!--  section  end-->
                    <div class="breadcrumbs-fs fl-wrap">
                        <div class="container">
                            <div class="breadcrumbs fl-wrap"><a href="#">Accueil</a><a href="#">Listing</a><span>Terms et Conditions</span></div>
                        </div>
                    </div>
                    <!--  section  -->
                    <section class="grey-blue-bg middle-padding" id="sec1">
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-md-12">
                                    <!--   list-single-main-item -->
                                    <div class="list-single-main-item fl-wrap" id="faq1">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>CLAUSE 1 : DÉFINITION</h3>
                                        </div>
                                        <p>Pour les présentes Conditions Générales d'Utilisation du Service (CGU), les termes suivants auront les significations attribuées :</p>
                                        <div>
                                            <ul class="box-widget-list">
                                                <li>• Annonce : englobe tous les contenus (textes, images, vidéos, documents) publiés par un Annonceur/Hôte sur le Site Internet afin de proposer à la location et/ou à la vente un bien immobilier.</li>
                                                <li>• Annonceur/Hôte : désigne toute entité, personne physique ou morale, ayant publié une Annonce via le Service.</li>
                                                <li>• Entreprise ou Editeur : fait référence à SARL U GAK-SERVICES, basée à DJAGBLE KOKLOSSOUKOPE.</li>
                                                <li>• Service : sank, une plateforme interactive électronique éditée et exploitée par l’Entreprise, accessible principalement via l'URL www.sank.com</li>
                                                <li>• Site Internet ou Site : Indique le site web où le Service est accessible.</li>
                                                <li>• Utilisateur/Voyageur : toute personne physique ou morale accédant au Service.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--   list-single-main-item end -->
                                    <!--   list-single-main-item -->
                                    <div class="list-single-main-item fl-wrap" id="faq2">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>CLAUSE 2 : OBJECTIF</h3>
                                        </div>
                                        <p>Les CGU régissent l'utilisation du site MIAWEOZON mis à disposition par l'entreprise GAK-SERVICES aux Annonceurs/Hôtes et aux Utilisateurs/Voyageurs sur le Site Internet.</p>
                                    </div>
                                    <!--   list-single-main-item end -->                                
                                    <!--   list-single-main-item -->
                                    <div class="list-single-main-item fl-wrap" id="faq3">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>CLAUSE 3 : ACCEPTATION</h3>
                                        </div>
                                        <p>En utilisant le Service, tout Annonceur/Hôte et aux Utilisateur/Voyageur reconnaît avoir pris connaissance des CGU et les accepte sans réserve ni modification. Les CGU s'appliquent pleinement aux Annonceurs/Hôtes et aux Utilisateurs/Voyageurs lors de l'utilisation du Service.</p>
                                    </div>
                                    <!--   list-single-main-item end -->                                
                                    <!--   list-single-main-item -->
                                    <div class="list-single-main-item fl-wrap" id="faq4">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>CLAUSE 4: ACCESSIBILITÉ ET DISPONIBILITÉ DU SERVICE</h3>
                                        </div>
                                        <p>Le Service est accessible en ligne de manière libre et exclusive via le Site Internet. La société s'engage à rendre le Service MAWOEZON disponible 24 heures sur 24 et 7 jours sur 7, sauf en cas de force majeure, de problèmes informatiques, de difficultés liées à l'infrastructure des réseaux de télécommunications ou de problèmes techniques, et ce, indépendamment des opérations de maintenance du Service. Dans ce contexte, la société est engagée à faire son meilleur effort.
                                            L'entreprise se réserve le droit de modifier ou d'interrompre, à tout moment, l'accès à tout ou partie du Service. En aucun cas, l'entreprise ne pourra être tenue pour responsable en cas de non-accessibilité du Site Internet, quelle qu'en soit la raison.
                                            Nous nous efforçons toutefois d'améliorer continuellement l'accessibilité de notre site internet et nous sommes à l'écoute de nos utilisateurs. N'hésitez pas à nous faire part de toute suggestion qui pourrait améliorer notre accessibilité ; nous ferons de notre mieux pour en tenir compte dans les futures versions.  
                                            </p>
                                    </div>
                                    <!--   list-single-main-item end -->                                
                                    <!--   list-single-main-item -->
                                    <div class="list-single-main-item fl-wrap" id="faq5">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>CLAUSE 5: UTILISATION DU SERVICE</h3>
                                        </div>
                                        <p>Les Annonceurs/Hôtes et les Utilisateurs/Voyageurs reconnaissent posséder les compétences et les moyens nécessaires pour accéder et utiliser le Site Internet. Les Annonceurs/Hôtes et les Utilisateurs/Voyageurs du Site Internet certifient avoir vérifié que leur configuration informatique est exempte de virus et est en parfait état de fonctionnement.
                                            Les fonctionnalités du Service proposées Annonceurs/Hôtes et aux Utilisateurs/Voyageurs varient selon leur statut :</p>
                                            <div>
                                                <p><b>Fonctionnalités accessibles aux Utilisateurs/Voyageurs depuis le Site Internet :</b></p>
                                                <ul class="box-widget-list">
                                                    <li>• Consultation des Annonces diffusées</li>
                                                    <li>• Mise en contact avec les Annonceurs</li>
                                                    <li>• Réception de contact des hôtes</li>
                                                    <li>• Réservation des Annonces diffusées</li>
                                                    <li>• Publication de commentaires dans les Blogs</li>
                                                </ul>
                                            </div>
                                            <div>
                                                <p><b>Fonctionnalités accessibles aux Hôtes depuis le Site Internet :</b></p>
                                                <ul class="box-widget-list">
                                                    <li>• Dépôt d’Annonces</li>
                                                    <li>• Suppression d’Annonces</li>
                                                    <li>• Modification d’Annonces</li>
                                                    <li>• Mise en contact avec les Voyageurs</li>
                                                    <li>• Réception de contacts Utilisateurs</li>
                                                    <li>• Publication de commentaires dans les Blogs</li>
                                                </ul>
                                            </div>
                                            <div>
                                                <p><b>Fonctionnalités accessibles aux Hôtes et aux Voyageurs depuis le Site Internet :</b></p>
                                                <ul class="box-widget-list">
                                                    <li>• Gestion à tout moment des informations personnelles renseignées</li>
                                                </ul>
                                            </div>

                                    </div>

                                    <div class="list-single-main-item fl-wrap" id="faq4">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>CLAUSE 6: MODIFICATION DU SERVICE ET DES CGU</h3>
                                        </div>
                                        <p>L’Entreprise se réserve le droit de modifier, interrompre, temporairement ou définitivement et sans préavis, tout ou partie du Service, sans que les Annonceurs/Hôtes et les Utilisateurs/Voyageurs ne puissent prétendre à une quelconque indemnité.
                                            De même, l’Entreprise se réserve le droit de modifier tout ou partie des CGU à tout moment. Les Annonceurs/Hôtes et les Voyageurs/Utilisateurs sont encouragés à consulter régulièrement les CGU pour être informés des éventuels changements. L'utilisation continue du Site par les Hôtes et les Voyageurs vaut acceptation des modifications apportées aux CGU.
                                            </p>
                                    </div>

                                    <div class="list-single-main-item fl-wrap" id="faq4">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>CLAUSE 7: MODÉRATION DES ANNONCES</h3>
                                        </div>
                                        <p>L’Entreprise se réserve le droit de supprimer, sans préavis, indemnité ou droit à remboursement, toute Annonce qui ne respecte pas les règles de diffusion du Service ou qui pourrait violer les droits d'un tiers.</p>
                                    </div>

                                    <div class="list-single-main-item fl-wrap" id="faq4">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>CLAUSE 8 : ASSURANCES – RESPONSABILITE ET RESTRICTION DE RESPONSABILITE – CAS DE FORCE MAJEURE</h3>
                                        </div>
                                        <p><b>ASSURANCES INCOMBANT A L'HOTE</b></p>
                                        <p>L’Hôte/Annonceur, assure posséder tous les droits (y compris les droits de propriété intellectuelle) ou avoir obtenu toutes les autorisations nécessaires pour la publication de ses Annonces.
                                            L’Hôte assume pleinement la responsabilité éditoriale du contenu des Annonces qu'il publie et met à la disposition des Utilisateurs, ainsi que de tout document ou information transmis aux Utilisateurs. Ainsi, le Promoteur garantit que l'Annonce est conforme à toutes les réglementations en vigueur notamment en matière de publicité, de concurrence, de promotion des ventes, d'utilisation de données personnelles et qu'elle ne contient pas :
                                        </p>
                                        <ul class="box-widget-list">
                                            <li>• d'informations fausses, trompeuses ou susceptibles de tromper les Voyageurs ;</li>
                                            <li>• de mentions diffamatoires ou préjudiciables aux intérêts et/ou à l'image de l’Entreprise ou de tiers ;</li>
                                            <li>• de contenu contraire aux normes et valeurs de la société ;</li>
                                            <li>• de contenu à caractère promotionnel ou publicitaire lié à l'activité de l'hôte. En effet, une Annonce vise à promouvoir ou à louer un bien immobilier et ne constitue pas un support publicitaire.</li>
                                        </ul>
                                        <p>L'Hôte s'engage à ne proposer dans les Annonces que des biens disponibles dont il dispose. En cas d'indisponibilité du bien, l'Hôte s'engage à le mentionner dans l'Annonce dans les plus brefs délais.</p>
                                        <p>L'Hôte reconnaît l'étendue de la diffusion du Site Internet, prend toutes les précautions nécessaires pour respecter la législation en vigueur des lieux de réception et décharge l’Association de toute responsabilité à cet égard. Il la garantit contre toute action en relation avec l'Annonce qui pourrait être intentée par un tiers, et prendra en charge tous les dommages-intérêts ainsi que les frais et dépenses auxquels elle pourrait être condamnée, sans préjudice des dommages-intérêts que l’Entreprise pourrait réclamer pour les faits dommageables de l’Annonceur.</p>
                                        <p>En déposant toute Annonce, chaque Hôte reconnaît et accepte que l’Entreprise puisse supprimer ou refuser, à tout moment et sans indemnité ni droit à remboursement des sommes engagées par l’Annonceur pour son dépôt, une Annonce qui serait contraire notamment aux présentes CGU, à la loi togolaise, aux règles de diffusion du Service fixées par l’Entreprise et/ou susceptible de porter atteinte aux droits de tiers.</p>
                                        <p>Dès qu'une annonce est déposée, elle est diffusée sur le site Internet pour une durée indéfinie. Il est envisageable de la suspendre en cas d'indisponibilité ou de la supprimer.</p>
                                        <p><b>8.1 Hôte. </b></p>
                                        <p>En tant qu'Hôte, GAK-SERVICES vous offre le droit d'utiliser la plateforme sank conformément aux présentes Conditions pour partager votre hébergement, Expérience ou autres Service d'hôte avec notre communauté de Voyageurs, et de gagner de l'argent ce faisant. La création d'une annonce est extrêmement simple. C'est à vous qu'incombe la responsabilité d'accueillir les voyageurs. Vous décidez des prix, des disponibilités et des règlements pour vos Annonces. Il est nécessaire de respecter des conditions supplémentaires en tant qu'hôte professionnel.</p>
                                        <p><b>8.2 Accord avec les Voyageurs</b></p>
                                        <p>Lorsque vous acceptez une demande de réservation ou recevez une confirmation de réservation via la plateforme sank, vous établissez un accord direct avec le Voyageur et êtes responsable de fournir le Service d'hôte conformément aux termes et tarifs précisés dans votre Annonce. Vous acceptez également de régler les frais applicables tels que les frais de service de sank et les taxes applicables pour chaque réservation effectuée. Sauf accord contraire convenu entre vous et nous, GAK-SERVICES déduira les montants dus de votre paiement. Veillez à ce que toutes les conditions ou dispositions que vous incluez dans un contrat supplémentaire avec les voyageurs soient clairement mentionnées dans la description de votre annonce.</p>
                                        <p><b>8.3 Indépendance des Hôtes</b></p>
                                        <p>sank ne dirige ni ne contrôle votre Service d'hôte. Vous êtes libre de décider si et quand vous souhaitez offrir des Services d'hôte, et à quel prix et à quelles conditions les offrir.</p>
                                        <p><b>8.4 Obligations légales</b></p>
                                        <p>Il est impératif de comprendre et de respecter toutes les lois, règlements, réglementations et contrats applicables à votre annonce ou à vos services d'hôte. Nous ne fournissons que des informations à titre informatif sur les exigences légales. Assurez-vous de vérifier vos obligations de manière indépendante.</p>
                                        <p><b>8.5 Vos obligations.</b> </p>
                                        <p>En tant qu'hôte sur sank, vous êtes responsable de vos actions et de celles des personnes autorisées à participer à la prestation de vos services d'hôte. Vous devez gérer les tarifs, les règlements et les exigences de votre annonce. Il est important de spécifier tous les frais et éléments facturés dans la description de votre annonce. Il est strictement interdit de percevoir des frais ou de facturer des éléments supplémentaires en dehors de la plateforme sank. Il est recommandé de ne pas encourager les voyageurs à entreprendre des actions en dehors de la plateforme.</p>
                                        <p><b>8.6 Annulations et Problèmes de réservation. </b></p>
                                        <p>En tant qu'Annonceur /hôte, vous ne pouvez pas annuler la réservation d'un voyageur sans motif légitime. Vous pouvez prendre attache avec le service client pour trouver une alternative avant annulation.</p>
                                        <p><b>8.7 Modifications de réservation.</b> </p>
                                        <p>Toute modification de réservation acceptée sur la plateforme sank est de la responsabilité des hôtes et des voyageurs.</p>
                                        <p><b>ASSURANCES INCOMBANT AUX VOYAGEURS</b></p>
                                        <p>En utilisant le Service, le voyageur atteste, garantit et s'engage à :</p>
                                        <ul class="box-widget-list">
                                            <li>• Ne pas altérer ni tenter d'altérer le bon fonctionnement du Site Internet et/ou du Service, ni extraire, modifier, consulter ou utiliser tout ou partie du Site Internet à l'aide de dispositifs ou de logiciels non autorisés à cet effet.</li>
                                            <li>• Ne pas utiliser les adresses e-mail et postales des autres utilisateurs du site Internet pour envoyer des courriers électroniques de sollicitation en masse et de ne pas recourir au "spamming".</li>
                                            <li>• Ne pas réutiliser tout ou partie du Site Internet et du Service, en particulier à des fins commerciales, collectives ou personnelles, sans autorisation expresse de l’Entreprise.</li>
                                            <li>• Ne pas reproduire tout ou partie du Site Internet à des fins personnelles, en dehors des exceptions légales prévues, ni de le commercialiser directement ou indirectement auprès de tiers.</li>
                                            <li>• Ne pas utiliser le Site Internet et/ou le Service à des fins illicites et/ou dans le but de porter atteinte à la réputation et à l'image de l’Entreprise, ou aux droits de propriété intellectuelle de l’Entreprise et/ou de tiers.</li>
                                            <li>• Ne pas exploiter le Service fourni par l’Entreprise ou les données auxquelles il pourrait avoir accès via le Service et/ou le Site Internet à des fins commerciales ou personnelles non autorisées par l’Entreprise.</li>
                                            <li>• Ne pas modifier ou altérer les mentions ou éléments du Service et/ou du contenu du Site Internet.</li>
                                        </ul>
                                        <p>En cas de non-respect de l'une ou l'autre de ces obligations, et sans que cette liste soit exhaustive, le voyageur reconnaît et accepte que l'entreprise puisse lui refuser, de manière unilatérale et sans notification préalable, l'accès à tout ou partie du site Internet et en informer les autorités compétentes.</p>
                                        <p><b>8.9 Recherche</b> </p>
                                        <p>Pour trouver des services d'hébergement, il est possible de filtrer les résultats en utilisant des critères tels que la destination du voyage, les dates du voyage, le nombre de voyageurs, le type de service, le type de logement. Pour améliorer vos résultats de recherche, vous pouvez utiliser des filtres.</p>
                                        <p><b>8.10 Réservation</b> </p>
                                        <p>Lors de la réservation d'une Annonce, vous consentez à payer tous les frais associés à votre réservation, y compris le prix du logement spécifié dans l'Annonce et les frais qui peuvent être appliqués, comme les frais de service sank. Si vous optez pour un paiement en utilisant une monnaie différente de celle spécifiée par l'hôte pour son annonce, nous fixerons le prix en fonction du taux de conversion de la devise. Une réservation confirmée est considérée comme un contrat entre vous et l'Hôte.</p>
                                        <p><b>8.11 Annulations, problèmes de réservation et remboursements</b></p>
                                        <p>En règle générale, si vous décidez d'annuler votre réservation, vous pourriez être éligible à un remboursement partiel de votre montant. Si l'Hôte annule ou si vous rencontrez un Problème de réservation, vous pouvez être éligible à une aide pour une nouvelle réservation, ou à un remboursement intégral de votre somme.</p>
                                        <p><b>8.12 Modifications de réservation.</b></p>
                                        <p>Les hôtes et les voyageurs doivent assumer la responsabilité de toute modification de réservation qu'ils acceptent de faire via la plateforme sank. Le service client sank peut les aider à effectuer cela en leur nom, moyennant des frais ou taxes supplémentaires pour toute modification de réservation.</p>
                                        <p><b>8.13 Vos obligations. </b></p>
                                        <p>Vous devez assumer la responsabilité de vos actes et omissions, ainsi que de ceux des personnes que vous autorisez dans votre hébergement. </p>
                                        <p><b>GARANTIES PESANT SUR L’ENTREPRISE</b></p>
                                        <p>Dans le cadre de son engagement à faciliter la recherche d'hébergement, l'Entreprise offre à l'Utilisateur l'accès à son Service via son Site Internet.En mettant à disposition son service via le Site Internet, l’Entreprise s'efforce de mettre en relation les Hôtes et les Voyageurs de la manière la plus efficace possible.</p>
                                        <p>Il est clair que l'entreprise ne peut en aucun cas être tenue responsable de la fiabilité et de la pertinence des informations fournies dans les annonces publiées par les hôtes.
                                            Aucune garantie, qu'elle soit expresse ou implicite, n'est offerte à cet égard sur le site internet.
                                            L’Entreprise ne peut notamment garantir les suites données, comme l'Utilisateur en est parfaitement conscient.
                                            L'entreprise décline toute responsabilité en cas de :
                                            </p>
                                        <ul class="box-widget-list">
                                            <li>• Perte de données ou d'informations stockées, cette responsabilité incombe aux Annonceurs qui doivent prendre toutes les précautions nécessaires pour conserver les Annonces qu'ils publient via le Service.</li>
                                            <li>• La pertinence des textes, des informations, des descriptifs, des vidéos et des photographies liés aux annonces de location publiées par l'Annonceur et accessibles via le Service.</li>
                                            <li>• Dommages directs ou indirects subis par l'Utilisateur ou l'Annonceur, quelle qu'en soit la nature, résultant du contenu des Annonces et/ou de l'accès, de la gestion, de l'Utilisation, de l'exploitation, du dysfonctionnement et/ou de l'interruption du Service.</li>
                                            <li>• Utilisation du service de manière anormale ou inappropriée par les hôtes ou les voyageurs.</li>
                                            <li>• Attaque, piratage, privation, suppression ou interdiction temporaire ou permanente de l'accès au réseau internet, pour quelque raison que ce soit.</li>
                                        </ul>
                                        <p><b>8.14 Commentaires </b></p>
                                        <p>Après chaque Service d'hôte, les voyageurs et les hôtes peuvent se laisser un commentaire.
                                            Aucun propos discriminatoire, offensant, diffamatoire ou autre qui violerait le respect des droits commun de notre communauté ne peut contenir votre commentaire, qui doit être précis.
                                            Les Commentaires ne sont pas vérifiés par notre service et peuvent être infondés ou trompeurs.
                                            </p>
                                        <p><b>8.15 Réservations et Paiements</b></p>
                                        <p>GAK-SERVICES à la possibilité d'imposer des frais ainsi que les taxes qui s'y appliquent aux Hôtes et aux Voyageurs pour l'utilisation de la plateforme sank. Tous les frais pertinents sont communiqués aux Hôtes et aux Voyageurs dans ces CGU.</p>
                                        <p>Les réservations d'hébergement sont effectuées directement via la Plateforme.
                                            Les paiements sont sécurisés et gérés par les moyens de paiement acceptés par la Plateforme.
                                            Les conditions d'annulation et les modalités de remboursement sont définies pour chaque utilisateurs et précisées ci-dessous :
                                            </p>
                                            <ul class="box-widget-list">
                                                <li>Pour les Hôtes :</li>
                                                <p>Le montant total de la réservation est déduit de 15% avant d'être versé à l'Hôte. Le versement est initié à la date de remise des clés. Si le voyageur annule dans les 72 heures, l'hôte reçoit 23 % de la somme de réservation sans frais de services prélevés. Un coût de service et de renvoi de 12 % est soustrait des montants restants avant d'être renvoyé au voyageur. Si l'annulation est faite avant la date limite, l'hôte ne recevra aucune compensation. </p>
                                                <li>Pour les Voyageurs :</li>
                                                <p>Les frais de service de 3% sont ajoutés aux montants fixés par les annonceurs ou hôtes lors de la réservation. Si l'annulation de la réservation survient 72 heures avant la date prévue, vous obtiendrez un remboursement du montant de votre réservation, à l'exclusion des frais de service. En revanche, en cas d'annulation dans les 72 heures précédant la date prévue, un remboursement de 65 % du montant de votre réservation sera effectué. En cas d'annulation par l’hôte, vous pouvez être admissible à une assistance pour une nouvelle réservation ou à un remboursement intégral de votre paiement. En cas d’absence du voyageur lors de la remise des clés, ou d’annulation de la réservation à la date prévue, aucun remboursement ne sera accordé, sauf si le bien ne correspond pas à la description de l’annonce.</p>
                                            </ul>
                                        <p><b>8.16 Respect du Règlement</b></p>
                                        <p>Vous êtes tenu de respecter ces règles et de ne pas encourager ou aider d'autres personnes à les violer ou à les contourner.</p>
                                        <p><b>A. Intégrité et Respect</b></p>
                                        <ul class="box-widget-list">
                                            <li>• Agissez avec intégrité et traitez les autres utilisateurs avec respect.</li>
                                            <li>• Ne fournissez pas de fausses informations ni ne prétendez être quelqu'un d'autre.</li>
                                            <li>• Faites preuve de politesse et de respect lors de vos interactions avec les autres utilisateurs.</li>
                                        </ul>
                                        <p><b>B. Sécurité de la Plateforme</b></p>
                                        <ul class="box-widget-list">
                                            <li>• Ne compromettez pas la sécurité de la plateforme sank.</li>
                                            <li>• N'utilisez pas de robots, crawlers ou autres outils automatisés pour accéder aux données ou interagir avec la plateforme.</li>
                                            <li>• Ne tentez pas de contourner les mesures de sécurité de la plateforme.</li>
                                            <li>• Ne perturbez pas le fonctionnement normal de la plateforme.</li>
                                        </ul>
                                        <p><b>C. Utilisation Conforme</b></p>
                                        <ul class="box-widget-list">
                                            <li>• Utilisez la plateforme sank conformément à ces règles et à tout autre contrat établi avec sank.</li>
                                            <li>• N'utilisez les informations personnelles des autres utilisateurs que dans le cadre des transactions sur la plateforme.</li>
                                            <li>• N'envoyez pas de messages commerciaux sans consentement.</li>
                                            <li>• Utilisez le contenu de la plateforme uniquement pour les besoins liés à votre utilisation en tant que Voyageur ou Hôte.</li>
                                        </ul>
                                        <p><b>D. Respect des Obligations Légales</b></p>
                                        <ul class="box-widget-list">
                                            <li>• Respectez vos obligations légales et les lois applicables.</li>
                                            <li>• Respectez la vie privée et la protection des données.</li>
                                            <li>• Assurez-vous d'avoir le droit de fournir des informations personnelles d'autres personnes.</li>
                                            <li>• Conformez-vous aux Conditions d'utilisation, Politiques et Normes de la plateforme.</li>
                                            <li>• Ne facilitez pas d'événements non autorisés ou illégaux.</li>
                                            <li>• N'utilisez pas les marques ou logos de sank sans autorisation.</li>
                                            <li>• Ne proposez pas de services contraires à la loi ou aux contrats.</li>
                                        </ul>
                                        <p><b>E. Conclusion</b></p>
                                        <p>En utilisant la plateforme sank, vous acceptez de respecter ces règles. Tout manquement à ces règles peut entraîner des mesures appropriées, y compris la suspension ou la résiliation de votre compte.</p>
                                    </div>

                                    <div class="list-single-main-item fl-wrap" id="faq4">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>CLAUSE 9 : ASSISTANCE TECHNIQUE  ET RECLAMATION </h3>
                                        </div>
                                        <p>L'utilisateur/voyageurs et l’annonceur/hôtes ont la possibilité de prendre contact auprès
                                             de l’entreprise en utilisant le formulaire de contact https:/www.sankcom/contacts disponibles sur le site Internet pour toute information de nature technique ou relative à l'accessibilité des services.
                                            </p>
                                    </div>

                                    <div class="list-single-main-item fl-wrap" id="faq4">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>CLAUSE 10 : RESPONSABILITE DE LA PLATEFORME </h3>
                                        </div>
                                        <p>La Plateforme s'engage à fournir un service fiable et sécurisé, mais ne peut être tenue responsable des éventuels litiges entre Hôtes et Voyageurs.
                                            La Plateforme ne garantit pas l'exactitude, l'exhaustivité ou la fiabilité des informations fournies par les Hôtes ou les Voyageurs.                                            
                                            </p>
                                    </div>

                                    <div class="list-single-main-item fl-wrap" id="faq4">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>CLAUSE 11 : GESTION DES COOCKIES </h3>
                                        </div>
                                        <p>Les cookies sont utilisés sur ce site pour rendre vos recherches plus faciles, en gardant vos
                                             annonces sauvegardées et les rubriques visitées. Elle permet en particulier d'établir les statiques de connexions et d'améliorer le site. 
                                            </p>
                                    </div>

                                    <div class="list-single-main-item fl-wrap" id="faq4">
                                        <div class="list-single-main-item-title fl-wrap">
                                            <h3>CLAUSE 12 : PROTECTION DES DONNEES PERSONNELLES </h3>
                                        </div>
                                        <p>La Plateforme s'engage à respecter la confidentialité et la protection des données personnelles conformément à la législation en vigueur.
                                            Les utilisateurs sont invités à consulter la politique de confidentialité de la Plateforme pour plus d'informations sur la collecte, le traitement et l'utilisation des données personnelles.                                            
                                            </p>
                                    </div>
                                    <!--   list-single-main-item end -->                                
                                </div>
                            </div>
                        </div>
                        <div class="limit-box"></div>
                    </section>
                    <!--  section  end-->
                    
                   
                </div>
                <!-- content end-->
            </div>
            <!--wrapper end -->
 {% endblock %}